footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    font-size: 14px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: #ccc;
    transform: scale(1.1);
}

.social-links img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}